body {
    /* margin: 0; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #006666;
    font-family: 'Work Sans', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home {
    display: grid;
    grid-template: 4fr 1fr .25fr 2fr .25fr / 1.5fr 2fr;
}
.greeting {
    grid-area: 2 / 1 / 3 / 2;
    color: #9B111E;
    font-family: 'Playfair Display', serif;
    justify-content: center;
    margin-top: auto;
}
h1 {
    font-size: 5rem!important;
    text-shadow: 1px 0px 2px #EDDDD4;
}
.skills {
    grid-area: 3 / 1 / 4 / 2;
    min-width: 0;
    min-height: 0;
}
.brand {
    grid-area: 4 / 1 / 5 / 2;
    color: white;
}
.links {
    grid-area: 5 / 1 / 6 / 2;
}
.portfolio {
    grid-area: 1 / 2 / 6 / 3;
}
/* Source for infinite scrolling banner guidance and code: https://stackoverflow.com/questions/59980269/infinite-horizontal-scrolling-image-loop */
.skillbanner {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: .25fr;
    /* width: 400px; */
    text-align: center!important;
    min-width: 0;
    min-height: 0;
}
.skill {
    /* margin-right: 15px; */
    /* height: 15px; */
    /* 90px (12*90 = 1080) */
    min-width: 90px!important;
}
.skill {
    transition: all .5s ease-in-out;
}
.first {
    animation: bannermove 10s linear infinite;
}
.skilllist.skillbanner .first {
    margin-left: -1080px;
}
@keyframes bannermove {
    0% {margin-left: 0px;}
    100% {margin-left: -1080px;}
}
    
